# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Data & Outputs
data/northwind.sqlite
*.log

# OS
.DS_Store
Thumbs.db
